/* pre-defined var overrides */
$font-family-sans-serif: Nunito, sans-serif;
$font-family-monospace: monospace;
$font-family-base: $font-family-sans-serif;

$font-size-base: 1.1rem;

$grid-gutter-width: 24px;

/* =========================================================== */
/* import */
@import "~bootstrap/scss/bootstrap";

/* =========================================================== */
/* var overrides */
$gray-150: #f8fbfe !default;
$grays: map-merge(
    $grays, (
    "150": $gray-150,
  )
);

.row {
  padding-top: $grid-gutter-width / 2;
  padding-bottom: $grid-gutter-width / 2;
}

/* =========================================================== */
/* fonts */
@font-face {
  font-family: Nunito;
  src: local("Nunito Light"),
  local("Nunito-Light"),
  url(../assets/Nunito/Nunito-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: Nunito;
  src: local("Nunito Regular"),
  local("Nunito-Regular"),
  url(../assets/Nunito/Nunito-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Nunito;
  src: local("Nunito SemiBold"),
  local("Nunito-SemiBold"),
  url(../assets/Nunito/Nunito-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: Nunito;
  src: local("Nunito Bold"),
  local("Nunito-Bold"),
  url(../assets/Nunito/Nunito-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal
}

/* =========================================================== */
/* all and body */
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  background-color: map-get($grays,"200");
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.row > * {
  --bs-gutter-y: 12px;
}

.container-fluid {
  padding: 0 $grid-gutter-width*2 !important;
}

/* =========================================================== */
/* links */
a {
  color: #3688fc;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  text-decoration: none;
  color: #0360e2;
}
a, button {
  outline: 0 !important;
}

/* =========================================================== */
/* tables */
.table tbody tr {
  td, th {
    vertical-align: middle;
  }
}

/* =========================================================== */
/* content page */
.content {
  flex: 5;
  background-color: map-get($grays,"100");
}
