.paddSpan {
  padding-right: 2px;
  padding-left: 2px;
}
.result div {
  display: flex;
  p {
    width: 100%;
    margin: 3.5px 4px;
    &:nth-child(1) {
      width: 50%;
      text-align: right;
    }
    &:nth-child(2) {
      text-align: center;
      width: 20%;
    }
    &:nth-child(3) {
      text-align: left;
    }
  }
}

.btn-app-loadMore {
  display: block !important;
  margin: auto;
}
