@import "~bootstrap/scss/bootstrap";
// footer
.footer {
  padding: 19px 0 20px;
  color: #98a6ad;
  border-top: 1px solid map-get($grays, "200");
  font-size: .9rem;
  background-color: map-get($colors,"white");
  .row * {
    margin: 0;
  }
  .footer-right {
    text-align: end;
  }
  .footer-links {
    a {
      text-decoration: none;
      color: #98a6ad;
      margin-left: 1.5rem;
      -webkit-transition: all .4s;
      transition: all .4s;
    }
    a:first-of-type {
      margin-left: 0;
    }
    a:hover {
      color: #474d56;
    }
  }
  .row {
    padding-top: 0;
    padding-bottom: 0;
  }
}
