<!-- Footer -->
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 footer-links">
        {{year}} © vTurn - <a href="https://eventbikezero.de">eventbikezero.de</a>
      </div>
      <div class="col-md-6">
        <div class="text-md-right footer-links footer-right d-none d-md-block">
          <a href="">About</a>
          <a href="">Support</a>
          <a href="">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</footer>
